.drawer-item-label {
    font-size: 1rem;
    line-height: 1.25rem;
}

.drawer-item-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3.4vh;
}

.drawer-item-root:hover {
    cursor: pointer;
}

@media only screen and (max-width: 452px) {
    .drawer-item-label {
        display: none;
    }

    .drawer-item-root {
        margin: 0;
    }
}