.avatar {
    margin-bottom: 5.7vh;
}

.drawer-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 23vh;
}

.drawer-root {
    position: fixed;
    left: 0;
    height: 100vh;
    border: solid 1px var(--color-green-fill);
    width: 7.4vw;
    display: flex;
    flex-direction: column;
    padding-top: 13.6vh;
    padding-bottom: 20vh;
}

@media only screen and (max-width: 452px) {
    .avatar {
        margin: 0;
    }

    .drawer-root {
        left: 6.5vw;
        bottom: 2vh;
        width: 65vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 7.2vh;
        padding: 1.5vh 12vw 1.4vh 10vw;
    }

    .drawer-child {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        width: 100%;
    }
}